@font-face {
  font-family: "Nanum Myeongjo";
  src: url("NanumMyeongjo-Regular.ttf") format("truetype");
}

* {
  font-family: "Nanum Myeongjo";
  color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

h1,
h2,
p {
  margin: 0;
  font-weight: normal;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh + 1px);
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

section .section-content {
  display: flex;
  align-items: center;
  max-width: 800px;
}

section .col:last-child {
  flex: 1;
}

section .flex-gutter {
  flex-basis: 80px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 20px 10px;
  }
  section:nth-child(odd) .section-content,
  section .section-content {
    flex-direction: column;
  }
  section .col:last-child {
    max-width: 300px;
  }
  section .flex-gutter {
    flex-basis: 20px;
  }
}

section .picture-frame {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

@media screen and (max-width: 800px) {
  section .picture-frame {
    height: 125px;
    width: 125px;
  }
}

section .picture-frame img {
  user-select: none;
  pointer-events: none;
}

section .picture-frame-content {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.75s 0.5s ease-out;
}

.no-js .picture-frame,
.no-js .picture-frame-content,
section.in .picture-frame,
section.in .picture-frame-content {
  opacity: 1;
}

section h1,
section h2,
section p,
section a {
  opacity: 0;
}

.no-js h1,
.no-js h2,
.no-js p,
section.in h1,
section.in h2,
section.in p,
section.in a {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 1s ease-out;
}

h2 {
  font-style: italic;
  padding-bottom: 2px;
  font-size: 1.6rem;
  transition: opacity 1s ease-out;
}

.underline {
  width: 0%;
  border-bottom: 1px solid black;
  transition: width 1.25s ease-out;
}

.no-js .underline,
section.in .underline {
  width: 100%;
}

section p {
  margin-top: 10px;
  font-size: 1.6rem;
  text-align: justify;
  transition: opacity 0.75s 0.5s ease-out;
}

section a {
  color: rgb(165, 125, 131);
  text-decoration: none;
  transition: opacity 0.75s 0.5s ease-out;
}

#intro .intro-content,
#skills .skills-content {
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  #intro .intro-content,
  #skills .skills-content {
    max-width: 300px;
  }
  #skills .list-container {
    max-width: 300px;
  }
}

#intro p {
  text-align: justify;
}

/* about */

#about .layer {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  transition-delay: 1s;
}

/* skills */

#skills .score {
  margin-top: 15px;
  font-size: 1.6rem;
  text-align: justify;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.no-js #skills .score,
#skills.in .score {
  opacity: 1;
}

.score-bar {
  margin-bottom: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.score-bar-fill {
  height: 5px;
  width: 0%;
  background-color: rgb(47, 154, 255);
  transition: all 1s ease-out;
}

#skills .list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

#skills p {
  margin: 0px;
}

.no-js #skills .score-bar-fill,
#skills.in .score-bar-fill {
  background-color: black;
}

#skills .lang-score,
#skills .lang-score .score-bar-fill {
  transition-delay: 0.5s;
}
.no-js #skills .lang-score .score-bar-fill,
#skills.in .lang-score .score-bar-fill {
  width: 80%;
}

#skills .fra-score,
#skills .fra-score .score-bar-fill {
  transition-delay: 0.75s;
}
.no-js #skills .fra-score .score-bar-fill,
#skills.in .fra-score .score-bar-fill {
  width: 60%;
}

#skills .tech-score,
#skills .tech-score .score-bar-fill {
  transition-delay: 1s;
}
.no-js #skills .tech-score .score-bar-fill,
#skills.in .tech-score .score-bar-fill {
  width: 40%;
}

#skills .edu-score,
#skills .edu-score .score-bar-fill {
  transition-delay: 1.25s;
}
.no-js #skills .edu-score .score-bar-fill,
#skills.in .edu-score .score-bar-fill {
  width: 20%;
}

#footer {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
}
